/* 
Theme Name : First Theme
*/

	body{
		margin:0px;
	}

	#wrapper{
		width: 960px;
		padding: 0 auto;
		margin: 0 auto;
	}

	#footer{
		padding: 5px;
		background-color: #666;
	}

	#nav{
		display: inline-block;
		float: left;
		padding: 30px;	
		border-right: 1px solid #000;	
	}

	#content{
		padding: 10px;
		display: inline-block;   
		width: 765px;
		float: right;
	}

	#footer{
		clear:both;
	}

	li{
		list-style-type: none;
	}

	ul{
		padding: 0px;
	}

	a{
		text-decoration: none;
	}

	

