/* 
Theme Name : First Theme
*/

	body{
		margin:0px;
	}

	#header>h1{
		margin: 0px;
		padding-left: 10px;
		padding-top: 35px;
		color: #fff;
		text-shadow: 1px 2px 2px #000;
	}

	h1{
		color: #4ea0dd;
	}

	#wrapper{
		width: 960px;
		padding: 0 auto;
		margin: 0 auto;
	}

	#header{
		background-image: url('audi.jpg');
		min-height: 200px;
		background-size: cover;
	}

	#nav{
		display: inline-block;
		float: left;
		padding: 30px;	

		min-height: 100%;	
	}

	#content{
		padding: 10px;
		display: inline-block;   
		width: 751px;
		float: right;
		border-left: 1px solid #ccc;
	}

	#footer{
		clear:both;
		position: fixed;
		bottom: 0px;
		width: 100%;
		background-color: #4ea0dd;
		text-align: center;
	}
	.menu-footer-container{
		width: 660px;
		margin: 0 auto;
		display:block;
	}

	.menu-footer-container>ul>li{
		float: left;
		padding: 11px;
		color: #fff;
	}

	.menu-footer-container>ul>li>a{
		color: #fff;
	}



	li{
		list-style-type: none;
	}

	ul{
		padding: 0px;
	}

	a{
		text-decoration: none;
	}

	

